<% history_data = history_data["DataChangeAudit"] %>
<div class="field">
    Account Number Name :
    <%= history_data["AccountNumberName"] %>
</div>

<div class="field">
    QuickBooks Employer Account Number Format(s) :
    <%= history_data["QBERAcctNumFormat"] %>
</div>

<div class="field">
    Phone Numbers :
    <%= history_data["PhoneNumbers"] %>
</div>

<div class="field">
    Additional Employer Account Number Detail :
    <%= history_data["AddtnlERAcctNumFormat"] %>
</div>

<div class="field">
    Account Number Effective Date :
    <%= history_data["DataEffectiveDate"] %>
</div>