----------
<% history_data = history_data["DataChangeAudit"] %>
<div class="field">
    Fixed Rate :
    <%= history_data["FixedEmployerRate"] %>
</div>

<div class="field">
    Fixed Dollar Amount :
    <%= history_data["FixedEmployerAmt"] %>
</div>

<div class="field">
    Minimum Rate :
    <%= history_data["MinEmployerRate"] %>
</div>

<div class="field">
    Maximum Rate :
    <%= history_data["MaxEmployerRate"] %>
</div>

<div class="field">
    New Construction Rate Details :
    <%= history_data["NewConstructionERRateNote"] %>
</div>

<div class="field">
    Limit Calculation Frequency :
    <%= history_data["ERLimitFreqCalcCD"] %>
</div>

<div class="field">
    New Rate :
    <%= history_data["NewEmployerRate"] %>
</div>

<div class="field">
    Rate Effective Date :
    <%= history_data["DataEffectiveDate"] %>
</div>