
<% history_data = history_data["DataChangeAudit"] %>
<div class="field">
    Form Name :
    <%= history_data["FormName"] %>
</div>

<div class="field">
    Description :
    <%= history_data["Description"] %>
</div>

<div class="field">
    Subform of :
    <%= history_data["AssociatedTaxFormID"] %>
</div>

<div class="field">
    Filing Frequency :
    <%= history_data["FilingFrequencyNote"] %>
</div>

<div class="field">
    Filing Due Dates :
    <%= history_data["FilingDueDateReqNot"] %>
</div>

<div class="field">
    Holiday and Weekend Rules :
    <%= history_data["NonWorkdayFilingNote"] %>
</div>

<div class="field">
    W2's sent with Annual Filing? :
    <%= history_data["SendW2WhenFilingYNCode"] %>
</div>

<div class="field">
    File Zero Wages Rule :
    <%= history_data["FilingZeroWageYNCode"] %>
</div>

<div class="field">
    File Zero Liability Rules :
    <%= history_data["FilingZeroLiabilityYNCode"] %>
</div>

<div class="field">
    AnnualReconciliation :
    <%= history_data["AnnualReconYNCode"] %>
</div>

<div class="field">
    Filing Acknowledgement :
    <%= history_data["FilingAckDateCode"] %>
</div>

<div class="field">
    Filing Acknowledgement Note :
    <%= history_data["FilingAckDateNote"] %>
</div>

<div class="field">
    Payment Acknowledgement :
    <%= history_data["PaymentAckDateCode"] %>
</div>

<div class="field">
    Payment Acknowledgement Note :
    <%= history_data["PaymentAckDateNote"] %>
</div>

<div class="field">
    Effective Date :
    <%= history_data["DataEffectiveDate"] %>
</div>