<% history_data = history_data["DataChangeAudit"] %>
<div class="field">
    Tax Payment Name :
    <%= history_data["TaxPaymentName"] %>
</div>

<div class="field">
    Pay Zero ACH Credit :
    <%= history_data["PayZeroACHCreditNote"] %>
</div>

<div class="field">
    Pay Zero ACH Debit :
    <%= history_data["PayZeroACHDebitNote"] %>
</div>

<div class="field">
    Send paper Coupon/Return if Paying Electronically :
    <%= history_data["PaymentCouponNote"] %>
</div>

<div class="field">
    Rounding Requirement :
    <%= history_data["RoundingReqNote"] %>
</div>

<div class="field">
    Additional Requirements :
    <%= history_data["AdditionalReqNote"] %>
</div>

<div class="field">
    Effective Date :
    <%= history_data["DataEffectiveDate"] %>
</div>