<% history_data = history_data["DataChangeAudit"] %>
<div class="field">
    Form is in QuickBooks :
    <%= history_data["QBFormYNCode"] %>
</div>

<div class="field">
    Payment can go with Form :
    <%= history_data["PaymentWithFormYNCode"] %>
</div>

<div class="field">
    Filing Methods-DIY :
    <%= history_data["FilingMethodNote"] %>
</div>

<div class="field">
    Payment Methods-DIY  :
    <%= history_data["PaymentMethodNote"] %>
</div>

<div class="field">
    QB Effective Date :
    <%= history_data["DataEffectiveDate"] %>
</div>