------
<% history_data = history_data["DataChangeAudit"] %>
<div class="field">
    Filing Status Detail :
    <%= history_data["W4FilingStatusesNote"] %>
</div>

<div class="field">
    Deducation/Allowance Detail :
    <%= history_data["W4DeductibleItemsNote"] %>
</div>

<div class="field">
    Rate Requirement Detail :
    <%= history_data["W4RateReqNote"] %>
</div>

<div class="field">
    Additional Requirements :
    <%= history_data["W4AdditionalReqNote"] %>
</div>

<div class="field">
    Can Use Federal W4? :
    <%= history_data["FedW4AllowedYNCode"] %>
</div>

<div class="field">
    Effective Date :
    <%= history_data["DataEffectiveDate"] %>
</div>