--------------------------------------------
<% history_data = history_data["DataChangeAudit"] %>
<div class="field">
    Agency Name :
    <%= history_data["DataRecordName"]%>
</div>

<div class="field">
    Vendor Payable Name :
    <%= history_data["VendorPayableName"]%>
</div>

<div class="field">
    Mailing Address :
    <%= history_data["MailingAddress"] %>
</div>

<div class="field">
    Phone Numbers :
    <%= history_data["PhoneNumbers"] %>
</div>

<div class="field">
    Support URL :
    <%= history_data["CustomerSuportURL"] %>
</div>

<div class="field">
    Agency Website :
    <%= history_data["AgencyWebsiteURL"] %>
</div>

<div class="field">
    Effective Date :
    <%= history_data["DataEffectiveDate"] %>
</div>
