
<div class="field">
    Local Tax name :
    <%= data["local_tax_name"] %>
</div>

<div class="field">
    Local Tax Purpose Detail :
    <%= data["local_tax_purpose_note"] %>
</div>

<div class="field">
    Responsible Party :
    <%= data["responsible_party_code"] %>
</div>

<div class="field">
    Tax Rate Detail :
    <%= data["tax_rate_note"] %>
</div>

<div class="field">
    Additional Requirements :
    <%= data["additional_requirements_note"] %>
</div>

<div class="field">
    Rate Effective Date :
    <%= data["tax_rate_effective_date"] %>
</div>

<h4> History of Local tax rate detail</h4>
<% data["record_effective_date_audit"].each do |history_data| %>
<div>
<%= render partial: "agency_local_tax_rate_detail_history", locals: { history_data: history_data } %>

</div>
<% end %>

<h4> Service Requirements </h4>
<div class="field">
    QuickBooks DIY Requirements :
    <%= data["qb_diy_requirements_note"] %>
</div>

<div class="field">
    Assisted Requirements :
    <%= data["qb_assisted_requirements_note"] %>
</div>

<h4> Verification Tracking </h4>
<div class="field">
    Last Verified Date :
    <%= data["last_verified_date"] %>
</div>

