-----------------
<% history_data = history_data["DataChangeAudit"] %>
<div class="field">
    Local Tax name :
    <%= history_data["LocalTaxName"] %>
</div>

<div class="field">
    Local Tax Purpose Detail :
    <%= history_data["LocalTaxPurposeNote"] %>
</div>

<div class="field">
    Responsible Party :
    <%= history_data["ResponsiblePartyCode"] %>
</div>

<div class="field">
    Tax Rate Detail :
    <%= history_data["TaxRateNote"] %>
</div>

<div class="field">
    Tax Cacluation Detail :
    <%= history_data["TaxCalculationNote"] %>
</div>

<div class="field">
    Allowance Amounts Detail :
    <%= history_data["AllowanceAmtNote"] %>
</div>

<div class="field">
    Additional Requirements :
    <%= history_data["AdditionalReqNote"] %>
</div>

<div class="field">
    Rate Effective Date :
    <%= history_data["DataEffectiveDate"] %>
</div>

<div class="field">
    QuickBooks DIY Requirements :
    <%= history_data["QBDIYReqNote"] %>
</div>

<div class="field">
    Assisted Requirements :
    <%= history_data["QBAssistedReqNote"] %>
</div>

<div class="field">
    IOP Requirements :
    <%= history_data["IOPReqNote"] %>
</div>
