
------------------
<% history_data = history_data["DataChangeAudit"] %>
<div class="field">
    Local Tax name :
    <%= history_data["LocalTaxName"] %>
</div>

<div class="field">
    Local Tax Purpose Detail :
    <%= history_data["LocalTaxPurposeNote"] %>
</div>

<div class="field">
    Responsible Party :
    <%= history_data["ResponsiblePartyCode"] %>
</div>

<div class="field">
    Tax Rate Detail :
    <%= history_data["TaxRateNote"] %>
</div>

<div class="field">
    Additional Requirements :
    <%= history_data["AdditionalReqNote"] %>
</div>

<div class="field">
    Rate Effective Date :
    <%= history_data["DataEffectiveDate"] %>
</div>