<% history_data = history_data["DataChangeAudit"] %>
<div class="field">
    QuickBooks DIY Recommendation :
    <%= history_data["QBDIYReqNote"] %>
</div>

<div class="field">
    "Are Payments allowed more often within a standard frequency?" :
    <%= history_data["EFTEligibilityNote"] %>
</div>

<div class="field">
    What happens if early payments are sent? :
    <%= history_data["EFTProcessNote"] %>
</div>

<div class="field">
    Are any communications sent to the employer if they send early? :
    <%= history_data["EFTCommunicationNote"] %>
</div>

<div class="field">
    Should a form be sent or used if making early payments? :
    <%= history_data["EFTFormNote"] %>
</div>

<div class="field">
    Any timing considerations? :
    <%= history_data["EFTTimingNote"] %>
</div>

<div class="field">
    What system impacts can be expected at the agency? :
    <%= history_data["EFTSysImpactsNote"] %>
</div>

<div class="field">
    "Are Payments allowed more often within a standard frequency?" :
    <%= history_data["ChkEligibilityNote"] %>
</div>

<div class="field">
    What happens if early payments are sent? :
    <%= history_data["ChkProcessNote"] %>
</div>

<div class="field">
    Are any communications sent to the employer if they send early? :
    <%= history_data["ChkCommunicationNote"] %>
</div>

<div class="field">
    Should a form be sent or used if making early payments? :
    <%= history_data["ChkFormNote"] %>
</div>

<div class="field">
    Any timing considerations? :
    <%= history_data["ChkTimingNote"] %>
</div>

<div class="field">
    What system impacts can be expected at the agency? :
    <%= history_data["ChkSysImpactsNote"] %>
</div>

<div class="field">
    Effective Date :
    <%= history_data["DataEffectiveDate"] %>
</div>