<% history_data = history_data["DataChangeAudit"] %>
<div class="field">
    Employer Filing Requirements :
    <%= history_data["EmployerFilingReqNote"] %>
</div>

<div class="field">
    Employer Payment Requirements :
    <%= history_data["EmployerPaymentReqNote"] %>
</div>

<div class="field">
    Service Provider Filing Requirements :
    <%= history_data["SvcProviderFilingReqNote"] %>
</div>

<div class="field">
    Service Provider Payment Requirements :
    <%= history_data["SvcProviderPaymentReqNote"] %>
</div>

<div class="field">
    Effective Date" :
    <%= history_data["DataEffectiveDate"] %>
</div>