<% history_data = history_data["DataChangeAudit"] %>
<div class="field">
    Tax Form ID :
    <%= history_data["TaxFormID"] %>
</div>

<div class="field">
    Filing Enrollment Instructions :
    <%= history_data["FilingEnrollmentNote"] %>
</div>

<div class="field">
    Payment Enrollment Instructions :
    <%= history_data["PaymentEnrollmentNote"] %>
</div>

<div class="field">
    Login Requirements :
    <%= history_data["LoginReqNote"] %>
</div>

<div class="field">
    Additional Login Requirements :
    <%= history_data["AddtionalLoginDetailNote"] %>
</div>

<div class="field">
    Change Bank Account Instruction :
    <%= history_data["BankAcctChangeNote"] %>
</div>

<div class="field">
    Penalty & Interest Requirements :
    <%= history_data["PenaltyInterestReqNote"] %>
</div>

<div class="field">
    Paying Penalty & Interest :
    <%= history_data["PenaltyInterestHowtoNote"] %>
</div>

<div class="field">
    Alternative Submission Process :
    <%= history_data["AltSubmissionNote"] %>
</div>

<div class="field">
    Effective Date :
    <%= history_data["DataEffectiveDate"] %>
</div>

