<div class="field">
    How does the agency prefer the employer to register? :
    <%= data["preferred_method_code"] %>
</div>

<div class="field">
    Where can I find out more about the agency process for registration? :
    <%= data["registration_process_url"] %>
</div>

<div class="field">
    Is there a registration fee? :
    <%= data["fee_yn_code"] %>
</div>

<div class="field">
    What is the name of the form to use for registration? :
    <%= data["form_name"] %>
</div>

<div class="field">
    What is the link to the form for registration? :
    <%= data["form_url"] %>
</div>

<div class="field internal">
    Are there any special registration rules? :
    <%= data["registration_rules_note"] %>
</div>

<div class="field internal">
    How long does it take to get the registration processed? :
    <%= data["estimated_completion_duration"] %>
</div>

<div class="field">
    Additional information aobut the registration for this state. :
    <%= data["general_registration_note"] %>
</div>

<div class="field internal">
    Last Verified Date :
    <%= data["last_verified_date"] %>
</div>